<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チャット</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<h1 th:text="${title}"></h1>
	<div th:object="${form}">
		<form method="get" action="#" th:action="@{/confirm}" id="form">
			<input type="text" name="name" placeholder="名前"/> 
			<input type="text" name="comment" placeholder="こんにちは"/>
			<input type="submit" value="送信" />
	
			<p>
				<span class="errorMessage" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">エラー</span>
			
				<span class="errorMessage" th:if="${#fields.hasErrors('comment')}"
					th:errors="*{comment}">エラー</span>
			</p>
			
		</form>
	</div>

	<div>
		<table id="talk">
			<tr th:each="res:${dbList}">
			 
				<td th:text="${res.name}"></td>
				<td th:text="${res.comment}"></td>
			 	
			</tr>
			

		</table>
	</div>

</body>
</html>