<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チャット</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<h1 th:text="${title}"></h1>
	</header>
	
	<br />
	<br />
	<br />
	
	<div th:object="${form}">
		<form method="get" action="#" th:action="@{/confirm}" id="form">
			
			<div>
				<input type="text" name="name" placeholder="名前" id="name"/> 
				<input type="text" name="comment" placeholder="こんにちは" id="comment"/>
				<input type="submit" value="送信" id="submit"/>
			</div>
	
			<p>
				<span class="errorMessage" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">エラー</span>
			
				<span class="errorMessage" th:if="${#fields.hasErrors('comment')}"
					th:errors="*{comment}">エラー</span>
			</p>
		</form>
	</div>

	<div id="talk">
		<div th:each="res:${dbList}">
			<p>
				<img th:src=${imgPath} alt="" />
				<span th:text="${res.name}" id="talkName"></span>
				<br />
				
				<span th:text="${res.comment}" id="talkComment"></span>
				
			</p>
		</div>
		
	<!-- 
		<table id="talk">
			<tr th:each="res:${dbList}">
			 
				<td th:text="${res.name}"></td>
				<td th:text="${res.comment}"></td>
			 	
			</tr>
			

		</table>
	 -->
	</div>
	
	<br />
	<br />
	<br />

</body>
</html>